::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: var(--webScrollColor);
}

::-webkit-scrollbar-thumb {
  background-color: var(--normalColor);
  border-radius: 25px;
}