body
{
	background-size :cover;
	background-attachment :fixed;
}
.maininfo
{
position: relative;
    left: 65px;
    top: 48px;
    height: 500px;
    width: 1392px;
    margin-top: 66px;
    border: 1px solid red;
    border-radius: 8px;
}
.searchsen
{
    position: absolute;
    top: 33px;
    right: 57%;
    color: white;
    font-size: 53px;
	
}
#myInput {
	background-image: url(search.jpg);
    background-position: -12px 5px;
    background-repeat: no-repeat;
    background-size: 65px;
    width: 39%;
    position: absolute;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 2px solid #ec0000;
    border-radius: 13px;
    margin-bottom: 12px;
    top: 169px;
    right: 292px;
}
.all
{
    position: absolute;
    width: 798px;
    height: 27%;
    top: 52%;
    right: 17%;
	
}
#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
  
}

#myUL .li  .a{
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
   float: left;
   padding: 15px;
   margin: 25px;
       border: 2px solid red;
    border-radius: 8px;
	    text-align: center;
}

#myUL .li a:hover {
  background-color: rgb(237, 78, 73);
  color: white;
  border: 2px white solid;
}
* {
  box-sizing: border-box;
}